:root {
  --primary: #501bb9;
  --bg: #050817;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'roboto', 'poppins';
  background-color: var(--bg);
  color: #fff;
  /* min-height: 3000px; */
}

h1 .title {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 13px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 2.2rem;
  font-weight: 500;
}

.btn-primary {
  background: linear-gradient(to bottom, #6847fa, #44239e);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transisi smooth */
  border-radius: 8px;
  height: 40px; /* Menentukan tinggi tombol */
  width: 140px; /* Menentukan lebar tombol */
  padding: 0; /* Reset padding untuk kontrol penuh */
  display: inline-flex; /* Menggunakan inline-flex untuk memastikan isi tombol ditengah */
  align-items: center; /* Vertikal tengah */
  justify-content: center; /* Horizontal tengah */
  text-align: center; /* Center text alignment */
  cursor: pointer;
}

.btn-primary:hover {
  background: linear-gradient(to bottom, #5035c9, #44239e); /* Gradasi latar belakang saat tombol dihover */
  color: #ffffff; /* Warna teks saat tombol dihover */
  border: 2px solid var(--primary);
}

.btn-secondary {
  background: var(--bg);
  color: #ffffff;
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transisi smooth */
  border-radius: 8px;
  height: 40px; /* Menentukan tinggi tombol */
  width: 140px; /* Menentukan lebar tombol */
  padding: 0; /* Reset padding untuk kontrol penuh */
  display: inline-flex; /* Menggunakan inline-flex untuk memastikan isi tombol ditengah */
  align-items: center; /* Vertikal tengah */
  justify-content: center; /* Horizontal tengah */
  text-align: center; /* Center text alignment */
  cursor: pointer;
}

.btn-secondary:hover {
  background: linear-gradient(to bottom, #5035c9, #44239e); /* Gradasi latar belakang saat tombol dihover */
  color: #ffffff; /* Warna teks saat tombol dihover */
  border: var(--primary);
}

/* notifikasi berhasil start */
.notification {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 13rem;
  height: 3rem;
  color: #000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  z-index: 10000;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  background-color: green;
  transition: width 5s linear;
}

/* notifikasi berhasil end */

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(151, 45, 45, 0);
  border-bottom: 1px solid #614daa;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
/* navbar search end */

/* modal start */
/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}

/* Modal content */
.modal-content {
  backdrop-filter: blur(30px);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-height: 90vh;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  margin-top: -1rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

/* Modal content visible with animation */
.modal-content.show {
  transform: translateY(0);
  opacity: 1;
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
}

.modal .modal-content .title-modal {
  width: 100%;
}

.modal .modal-content .body-modal {
  display: flex;
  flex-direction: row;
}

/* isi modal */
.modal .modal-content .contact-form {
  width: 60%;
}

.modal .modal-content .contact-form .form-group {
  margin-bottom: 1.5rem;
}

.modal .modal-content .contact-form .form-group,
.modal .modal-content .contact-form .form-message {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.modal .modal-content .contact-form .form-group input,
.modal .modal-content .contact-form .form-message textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.modal .modal-content .contact-form .form-group input:focus,
.modal .modal-content .contact-form .form-message textarea:focus {
  border: 1px solid #5035c9;
  box-shadow: 0 0 5px var(--primary);
}

.modal .modal-content .contact-form .form-message textarea {
  resize: vertical;
  min-height: 15rem;
}

.modal .modal-content .contact-form .form-group button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal .modal-content .contact-form .form-group button:hover {
  background-color: #0056b3;
}

.modal .modal-content .title-modal p {
  margin-bottom: 1rem;
}

.modal .modal-content .contact-info {
  margin-left: 3rem;
  width: 30%;
}

.modal .modal-content .contact-info h2 {
  margin: 0;
  color: var(--primary);
  font-weight: 600;
}

.modal .modal-content .contact-info p {
  margin: 1rem 0;
  font-weight: 100;
}

.modal .modal-content .contact-info .social {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  margin: 1rem 0;
}

.modal .modal-content .contact-info .social p {
  font-weight: 500;
  margin: 0;
}

textarea::placeholder {
  color: #999;
}

/* modal end */

/* hero section start */
.hero {
  width: 100%;
  padding: 0 7%;
  position: relative;
  height: 100vh;
}

.hero .row {
  display: flex; /* Mengatur elemen sebagai flex container */
  justify-content: start; /* Memusatkan elemen horizontal */
  align-items: center; /* Memusatkan elemen vertikal */
  height: 100vh;
}

.hero .row .content {
  width: 60%;
  text-align: start;
  position: relative;
}

.hero .row .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(187, 187, 187, 0.5);
  line-height: 1.5;
}

/* Kontainer animasi mengetik */
.hero .row .content .typing-animation {
  display: inline-block;
  position: relative;
  font-size: 1.5rem; /* Sesuaikan ukuran font sesuai kebutuhan */
}

/* Teks yang diketik */
.hero .row .content .typing-animation .typed-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #fff; /* Simbol cursor */
  animation: typing 4s steps(40, end), blink-caret 1s step-end infinite;
}

/* Animasi mengetik */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animasi berkedip untuk cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.hero .row .content h1 span {
  color: var(--primary);
}

.hero .row .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
  /* mix-blend-mode: difference; */
}

.hero .row .content .button {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
}

.hero .row .circle {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -3.5rem;
  background: radial-gradient(circle, var(--primary) 100%, transparent 100%);
  border-radius: 50%;
}

.hero .row .content .line {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 26rem;
  margin-left: -3rem;
  background: linear-gradient(to bottom, var(--primary), rgba(255, 0, 0, 0) 100%);
}

.hero .row .profil {
  width: 40%;
  display: flex; /* Menggunakan Flexbox dalam elemen profil juga */
  justify-content: center; /* Menempatkan konten di tengah secara horizontal */
  align-items: center; /* Menempatkan konten di tengah secara vertikal */
}

.hero .row .profil img {
  /* display: none; */
  width: 30.375rem;
  height: 30.375rem;
  border-radius: 50%;
  border-style: outset;
  object-fit: cover;
  box-shadow: 0 0px 20px var(--primary); /* Warna, ukuran, dan spread bayangan */
}
/* hero section end */
/* Services Section Start */

.services {
  width: 100%;
  padding: 0 7%;
  position: relative;
}

.services .row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.services .row .col-1 .card.show {
  opacity: 1;
  transform: translateY(0); /* Bergerak ke posisi akhir */
}

.services .row .col-1 .card.show:nth-child(1) {
  transition-delay: 0s;
}

.services .row .col-1 .card.show:nth-child(2) {
  transition-delay: 0.25s;
}
.services .row .col-2 .card.show {
  opacity: 1;
  transform: translateY(0); /* Bergerak ke posisi akhir */
}

.services .row .col-2 .card.show:nth-child(1) {
  transition-delay: 0s;
}

.services .row .col-2 .card.show:nth-child(2) {
  transition-delay: 0.25s;
}

.services .row .col-left {
  /* background-color: red; */
  width: 70%;
  line-height: 2rem;
}

.services .row .col-left span {
  color: var(--primary);
}

.services .row .col-left p {
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 3rem;
}

.grid-service-a,
.grid-service-b {
  display: flex; /* Menggunakan Flexbox untuk memudahkan pemusatan */
  flex-wrap: wrap; /* Mengizinkan elemen membungkus ke baris berikutnya jika diperlukan */
  gap: 2rem; /* Jarak antar kartu */
  padding: 1rem; /* Padding untuk grid container */
  margin: 0px; /* Memusatkan grid container secara horizontal */
  justify-content: center; /* Memusatkan kartu secara horizontal */
  align-items: center; /* Memusatkan kartu secara vertikal */
}

.col-1 {
  margin-top: 0;
  padding: 0;
  width: 20rem;
}

.col-1 .card {
  height: 20rem;
  width: 20rem;
  background: linear-gradient(to bottom, #33215881, #1a112d00);
  border: 0.1rem solid #6035b7;
  border-radius: 10px;
  box-shadow: inset 0 0px 10px #6035b7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(-50px);
  animation: slideDown 1.4s ease-out forwards;
}

.col-2 {
  margin-top: 6rem;
  padding: 0;
  width: 20rem;
}

.col-2 .card {
  height: 20rem;
  width: 20rem;
  background: linear-gradient(to bottom, #33215881, #1a112d00);
  border: 0.1rem solid #6035b7;
  border-radius: 10px;
  box-shadow: inset 0 0px 10px #6035b7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* transform: translateY(20px); */
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(-50px);
  animation: slideDown 1.4s ease-out forwards;
}

/* @keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
} */

.card {
  cursor: default;
  transition: transform 500ms ease-out;
}
/* 
.card:hover {
  transform: scale(1.05);
} */

.card .img-1 {
  width: 4rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 0.1rem #563693);
}

.card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card p {
  line-height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
}

/* Services Section end */
/* project section start */

.project {
  width: 100%;
  padding: 0 7%;
  position: relative;
}

.project .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Mengatur item dalam kolom */
  height: 100vh;
  margin-top: 5rem;
}

.project .row h2 span {
  color: var(--primary);
}

.project .row .categori {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Menambahkan gap antar tombol */
  justify-content: center; /* Memusatkan tombol secara horizontal */
}

.project .row .categori a {
  width: 10rem;
  display: inline-block;
  padding: 0.5rem 2rem; /* Tambahkan padding untuk tombol */
  background-color: #00000000; /* Tambahkan latar belakang untuk tombol */
  color: rgb(253, 246, 246); /* Ubah warna teks tombol */
  border: 1px solid #44239e;
  text-decoration: none; /* Hilangkan garis bawah */
  border-radius: 10rem; /* Tambahkan radius border untuk sudut yang melengkung */
  text-align: center; /* Pastikan teks di tengah dalam tombol */
  white-space: nowrap; /* Mencegah teks turun ke baris berikutnya */
  overflow: hidden; /* Menyembunyikan teks yang melebihi elemen */
  text-overflow: ellipsis; /* Menambahkan elipsis (...) pada teks yang terpotong */
}

.project .row .categori a:hover {
  background-color: var(--primary);
}

.project .row .categori .active {
  background-color: var(--primary);
}

.project .row .container {
  padding: 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Membungkus elemen anak ke baris berikutnya */
  gap: 2rem;
  width: 100%; /* Pastikan kontainer menggunakan lebar penuh */
}

.project .row .container .item {
  position: relative;
  width: 17rem;
  height: 23rem;
  border: 2px solid var(--primary);
  overflow: hidden;
  box-shadow: 0 0px 10px #44239e; /* Bayangan putih */
  opacity: 0; /* Initial state */
  transform: translateY(-40px); /* Start from higher above */
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s ease-out; /* Smooth transition */
}

.project .row .container .item.show {
  opacity: 1;
  transform: translateY(0); /* Bergerak ke posisi akhir */
}

.project .row .container .item.show:nth-child(1) {
  transition-delay: 0s;
}

.project .row .container .item.show:nth-child(2) {
  transition-delay: 0.25s;
}

.project .row .container .item.show:nth-child(3) {
  transition-delay: 0.5s;
}

.project .row .container .item.show:nth-child(4) {
  transition-delay: 0.75s;
}

.project .row .container .item:hover {
  transform: scale(1.04); /* Membesarkan elemen saat di-hover */
}

.project .row .container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 500ms;
}

.project .row .container .item:hover img {
  transform: scale(1.1); /* Membesarkan gambar saat item di-hover */
}

.project .row .container .item figcaption {
  position: absolute;
  bottom: -23rem;
  background: linear-gradient(to bottom, rgba(3, 2, 5, 0.473), rgb(45, 27, 83)); /* Menggunakan nilai alpha yang lebih tinggi */
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  transition: bottom 500ms; /* Transisi untuk gerakan hover */
}

.project .row .container .item:hover figcaption {
  bottom: 0;
  cursor: pointer;
}

.project .row .container .item figcaption h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.project .row .container .item figcaption p {
  font-size: 1rem;
  font-weight: 300;
}

.project .row .container .item figcaption img {
  align-self: center; /* Memastikan gambar berada di tengah secara horizontal */
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.3rem;
  margin-top: 1rem;
}

/* project modal */
.modal-unique {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}

.modal-unique-content {
  backdrop-filter: blur(30px);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-height: 90vh;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-unique-content.show {
  transform: translateY(0);
  opacity: 1;
}

.modal-unique .modal-unique-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal-unique .modal-unique-content h5 {
  font-size: 8rem;
}
.modal-unique .modal-unique-content h4 {
  font-size: 12rem;
}
.modal-unique .modal-unique-content p {
  font-size: 1rem;
}

/* project section end */
/* about section start */

.about {
  /* min-height: 100vh; */
  padding: 0 7%;
  position: relative;
}

.about .row {
  display: flex;
  text-align: start;
  height: 100vh;
  flex-direction: row; /* Ubah dari column ke row */
  gap: 3rem;
}

.about .row .desc {
  margin-top: 1rem; /* Tambahkan margin atas agar teks tidak menempel pada gambar */
  display: flex;
  align-items: start;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

.about .row .desc h2 {
  padding: 0rem 0rem 1rem 0rem;
}

.about .row .desc span {
  color: var(--primary);
}

.about .row .desc p {
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
}

.about .row .profil {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  order: 1;
}

.about .row .profil img {
  width: 36.9375rem; /* 591px */
  height: 26.375rem; /* 422px */
  object-fit: cover; /* Menyesuaikan gambar agar tidak terdistorsi */
  position: relative; /* Memastikan gambar berada di atas pseudo-elemen */
  z-index: 1; /* Mengatur z-index lebih tinggi dari pseudo-elemen */
  border-radius: 20px 0 20px 0;
}

.about .row .profil::before {
  content: ''; /* Membuat pseudo-elemen kosong */
  position: absolute; /* Memungkinkan positioning absolut */
  margin-top: 2rem; /* Menggeser border ke atas */
  margin-left: 2rem; /* Menggeser border ke kiri */
  width: calc(36.9375rem); /* Menambah ukuran border */
  height: calc(26.375rem); /* Menambah ukuran border */
  border: 0.3rem solid var(--primary); /* Border putih */
  border-radius: 30px 0 30px 0; /* Jika Anda ingin border dengan sudut melengkung */
  z-index: -1; /* Menempatkan pseudo-elemen di belakang gambar */
}

/* about section end */
/* Skill Section Start */

.skills {
  width: 100%;
  padding: 0 7%;
  position: relative;
}

.skills .row {
  position: relative;
  display: block;
  width: 100%;
  padding: 5rem 7%;
  text-align: center;
}

.skills .row .vertical {
  position: absolute;
  content: '';
  margin-left: 0.5rem;
  width: 0.2rem;
  margin-top: 1rem;
  height: 130vh;
  background-color: white;
  display: flex;
  align-self: start;
  z-index: -1;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5 {
  position: absolute;
  background-color: white;
  display: flex;
  align-self: center;
  margin-left: -3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}

span .circle-1 {
  top: 0; /* Ujung atas */
  transform: translateX(-50%) translateY(-50%); /* Menyeimbangkan posisi tengah */
  left: -3%;
}

span .circle-2 {
  top: 23%; /* Tengah dari atas */
  transform: translateX(-50%) translateY(-50%); /* Menyeimbangkan posisi tengah */
  left: -3%;
}

span .circle-3 {
  top: 44%; /* Tengah dari atas */
  transform: translateX(-50%) translateY(-50%); /* Menyeimbangkan posisi tengah */
  left: -3%;
}

span .circle-4 {
  top: 65%; /* Tengah dari atas */
  transform: translateX(-50%) translateY(-50%); /* Menyeimbangkan posisi tengah */
  left: -3%;
}

span .circle-5 {
  top: 86%; /* Tengah dari atas */
  transform: translateX(-50%) translateY(-50%); /* Menyeimbangkan posisi tengah */
  left: -3%;
}

/* Button Styles */
.skills .row span {
  color: var(--primary);
}

.skills .row .btn-skills {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
}

.skills .row .btn-skills a {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: linear-gradient(to bottom, #33215881, #1a112d00);
  border: 0.1rem solid #6035b7;
  color: rgb(253, 246, 246);
  text-decoration: none;
  border-radius: 10rem;
  text-align: center;
  margin-right: 1rem;
  width: 11rem;
}

.skills .row .btn-skills a:hover {
  background-color: var(--primary);
}

.skills .row .btn-skills .active {
  background-color: var(--primary);
}

.skills .row .container {
  height: auto;
  padding: 2rem 0;
}

.skills .row h3 {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: start;
  margin-top: 2rem;
}
/* Tools */
.skills .row .tools {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* Animasi untuk .isi-tool */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.skills .row .tools .isi-tool {
  position: relative;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--primary);
  height: 4rem;
  width: 12rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  filter: grayscale(90%);
  opacity: 0; /* Start invisible */
  transform: translateX(-100%); /* Start from the left side of the viewport */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.skills .row .tools .isi-tool.show {
  opacity: 1; /* Become visible */
  transform: translateX(0); /* Move to original position */
  animation: slideIn 1s forwards; /* Apply slide-in animation */
}

.skills .row .tools .isi-tool:hover {
  background-color: var(--primary);
  transform: scale(1.1);
  transition: all 300ms;
  border: 1px solid white;
  box-shadow: 0 0px 10px #44239e;
  filter: grayscale(0%);
}

.skills .row .tools .isi-tool img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.5rem;
}

.skills .row .tools .jenis-tool {
  display: block;
  width: calc(100% - 4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.skills .row .tools .jenis-tool h5 {
  user-select: none;
  font-size: 1.3rem;
  font-weight: 400;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide text that exceeds the element's width */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
  margin: 0; /* Remove margin to prevent extra space */
}

.skills .row .tools .jenis-tool p {
  user-select: none;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide text that exceeds the element's width */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
  margin: 0; /* Remove margin to prevent extra space */
}

/* Skill Section End */
/* Footer Start */

footer {
  background-color: #000;
}

footer .row {
  padding: 3rem 0;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.footer .row h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer .row a {
  font-size: 1rem;
  margin: 1rem 0;
  text-decoration: none; /* Menghilangkan garis bawah */
  color: inherit; /* Warna teks sesuai dengan elemen induk */
  outline: none; /* Menghilangkan outline pada fokus */
  cursor: pointer; /* Menambahkan pointer untuk menunjukkan elemen bisa diklik */
}

.footer img {
  width: 15rem;
}

.footer .sosmed {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.footer .sosmed img {
  margin: 2rem 0;
  width: 2rem;
  filter: grayscale(90%);
}

.footer .sosmed img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.1);
}

.footer .menu,
.footer .eksplore {
  display: flex;
  flex-direction: column;
}

.footer .contact p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.copyright {
  font-size: 1.2rem;
  height: 8rem;
  border-top: 2px solid #050817;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7% 0 0;
  margin: 0;
}

.copyright img {
  height: 8rem;
  transition: all 500ms;
  width: 50%; /* Atur lebar gambar sesuai kebutuhan */
  object-fit: cover; /* Zoom dan crop gambar agar menutupi elemen */
  margin-left: -10rem;
  filter: brightness(0.3);
}

/* Footer End */
/* media query */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .btn-primary,
  .btn-secondary {
    transform: scale(0.8);
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .hero .row .content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
    margin-bottom: 2rem;
  }

  .hero .row .content p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 200;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
  }

  .hero .row .content .button {
    gap: 0;
    padding: 0;
  }

  .hero .row .profil {
    margin-top: 3rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .row .profil img {
    width: 25.375rem;
    height: 25.375rem;
  }

  .pseudo::before,
  .pseudo::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
  }

  /* services section */
  .services {
    padding: 0 7%;
  }

  .services .row {
    flex-wrap: wrap;
    height: auto;
  }

  .services .row .col-left {
    margin-top: -5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .services .row .col-left a {
    margin-top: -1rem;
  }

  .services .row .col-1,
  .services .row .col-2 {
    margin: 0;
    padding: 0;
  }

  .services .grid-service-a .card,
  .services .grid-service-b .card {
    width: 100%;
    height: 50%;
  }

  /* project section */
  .project .row {
    height: auto;
  }

  /* about section */
  .about .row {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 5rem 0;
  }

  .about .row .profil {
    display: none;
  }

  .about .row .desc {
    order: 1;
    align-self: start;
  }

  .about .row .profil img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0 20px 0;
  }

  .about .row .profil::before {
    border: 0.2rem solid var(--primary);
    border-radius: 30px 0 30px 0;
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }


  /* Modal container */


/* Modal content */
.modal{
  height: 100vh;
  margin-top: 8rem;
}
.modal-content .body-modal .contact-form{
  width: 100%;
  padding: 0;
}
.modal-content .body-modal .contact-form a{
margin-left: -1.7rem;
}
.modal-content .body-modal .contact-info{
  display: none;
  
}

  /* Hero Section */
  .hero .row {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .hero .row .content {
    order: 2;
    padding: 2rem 1%;
    width: 100%;
    text-align: center;
  }

  .hero .row .profil {
    margin-top: 10rem;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .row .circle,
  .hero .row .content .line {
    display: none;
  }

  .hero .row a {
    margin: 2rem 0;
  }

  /* Services Section */
  .services .row {
    height: auto;
    margin: auto;
  }

  .services .row .col-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .services .row .col-1,
  .services .row .col-2 {
    padding: 0;
    width: 19rem;
  }

  /* Project Section */
  .project .row {
    height: auto;
    margin: auto;
  }

  .project .row .container .item {
    width: 100%;
  }

  /* About Section */
  .about .row {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .about .row .desc {
    align-items: center;
    text-align: center;
  }

  .about .row .profil img,
  .about .row .profil::before {
    display: none;
  }

  /* Skills Section */
  .skills .row .btn-skills {
    justify-content: center;
  }
}
